body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#g2 {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: #666;
  overflow: hidden;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

h2 {
  font-size: 18px;
  color: #666;
  margin-bottom: 3px;
}
